<h3>Listing Clients</h3>
<%=  link_to "Export to excel",clients_path(format: "xls") %>
<strong> Total number of clients = <%= @clients.count %> </strong>
 <table border = "1">
  <tr>
   <thead>
    <th>#</th>
    <th>Name</th>
    <th>Company</th>
    <th>Website</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Project count</th>
  </thead>
 </tr>

 <% @clients.each_with_index do |client,index| %>
 <tr>
  <td><%= index + 1 %></td>
  <td><%= link_to client.name,client_path(client.id) %></td>
  <td><%= client.company %></td>
  <td><%= client.website %></td>
  <td><%= client.email %></td>
  <td><%= client.mobile %></td>
  <td><%= client.projects.size %></td>
 </tr>
 
 <% end %>
 </table>
  <%= link_to "Add Client",new_client_path %>